<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<table class="table">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th>Quiz</th>
      <th>tags</th>
      <th>results</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let question of questions" routerLink="/user/completed/1">
      <td class="text-center">1</td>
      <th>
        {{ question.id }}
      </th>
      <td>{{ question.tag }}</td>
      <td>56566</td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let user of users">
    <a routerLink="/detail/{{ user.id }}">
      <span>{{ user.id }}</span> {{ user.name }}
    </a>
  </li>
</ul>
