<div class="main-content-quiz">
  <div class="container-fluid">
    <div class="row">
      <div class="questionBox" *ngIf="!question">
        <div class="question">
          Stai per affrontare un quiz di cultura generale.<br><br>
          Sei pronto?
          <br><br><br>
          <button class="btn btn-success" routerLink="/user/quiz/{{getFirst()}}">INIZIA IL QUIZ</button>
        </div>
      </div>
      <div class="questionBox" *ngIf="question">
        <div class="question">
          {{question.text}}
        </div>
        <div *ngIf="question.answertype==='checkbox'" class="checkInfo">(*più risposte sono corrette)</div>
        <div class="answer">
          <div *ngFor="let answer of question.answers;">
            <label>
              <input [attr.type]="question.answertype" (change)="addAnswer(question.id)" type="radio" name="answer"
                value="{{answer.value}}" [attr.checked]="getAnswer(question.id,answer.value) ? 'checked':null" />
              {{answer.text}}
            </label>
          </div>
          <textarea *ngIf="question.answertype==='textarea'" id="textarea" (input)="addAnswerArea(question.id)"
            name="textarea" rows="10" cols="50"
            placeholder="Inserisci qui la tua risposta...">{{getDefaultArea(question.id)}}</textarea>
        </div>
        <div class="button-quiz">
          <div class="btn-prev">
            <div *ngIf="!getFirstQuestion(question.id)">
              <button class="btn btn-info" (click)="addAnswer(question.id)"
                routerLink="/user/quiz/{{getPrevQuestion(question)}}">PRECEDENTE</button>
            </div>

          </div>
          <div class="btn-next">
            <div *ngIf="!getLastQuestion(question.id)">
              <button class="btn btn-info" (click)="addAnswer(question.id)"
                routerLink="/user/quiz/{{getNextQuestion(question)}}">SUCCESSIVA</button>
            </div>
          </div>
        </div>
        <div class="button-submit">
          <button *ngIf="getLastQuestion(question.id)" class="btn btn-success" (click)="clear()">INVIA
            QUIZ</button>
        </div>
      </div>
    </div>
  </div>
</div>