.questionBox {
    width: 100%;
    .answer {
        padding: 50px;
        font-size: 20px;
    }
    .question {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
    input{
        margin-bottom:20px;
    }
    textarea {
        width: 100%;
    }
    .checkInfo{
        text-align: center;
        margin-top:10px;
    }
}