<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<table class="table">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th>Domande</th>
      <th>risposta</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="text-center">1</td>

      <a routerLink="/user/completed/1"><th>DOMANDA #1</th></a>
      <td>
        <button type="button" rel="tooltip" class="btn btn-info">
          <i class="material-icons">done</i>
        </button>
      </td>
    </tr>

    <tr>
      <td class="text-center">2</td>
      <th>DOMANDA #2</th>

      <td>
        <button type="button" rel="tooltip" class="btn btn-success">
          <i class="material-icons">clear</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
