<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="card table">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Quiz completati</h4>
    <p class="card-category">
      Questa è una lista di tutti i quiz che sono stati completati
    </p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <table class="table">
      <thead class="text-danger">
        <th>Domanda</th>
        <th>Tag</th>
        <th>Corretta</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let domande of quiz.answersuser"
          routerLink="/user/completed/{{ quiz.id }}"
        >
          <td>{{ domande.id }}</td>
          <td>{{ quiz.tag }}</td>
          <td *ngIf="getCorrect(domande.id); else no">
            <i class="material-icons">done</i>
          </td>
          <ng-template #no
            ><td>
              <i class="material-icons">clear</i>
            </td></ng-template
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <table class="table">
  <thead>
    <tr>
      <th class="text-center"></th>
      <th>Quiz</th>
      <th>tags</th>
      <th>results</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let domande of quiz"
      routerLink="/user/completed/{{ question.id }}"
    >
      <td class="text-center">1</td>
      <th>
        {{ domande.id }}
      </th>
      <td>{{ domande.tag }}</td>
      <td
        *ngIf="
          getQuestion(question.id).toString() ===
            getRisposta(question.id).toString();
          else no
        "
      >
        <button type="button" rel="tooltip" class="btn btn-info">
          <i class="material-icons">done</i>
        </button>
      </td>

      <ng-template #no
        ><td>
          <button type="button" rel="tooltip" class="btn btn-success">
            <i class="material-icons">clear</i>
          </button>
        </td></ng-template
      >
    </tr>
  </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<table class="table">
  <thead>
    <tr
      *ngFor="let question of questions"
      routerLink="/user/completed/{{ question.id }}"
    >
      <th class="text-center"></th>
      <th>Quiz</th>
      <th>tags</th>
      <th>results</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let risposta of risposte">
      <td class="text-center">1</td>
      <th>
        sdfgsds
      </th>
      <td>fdgdfgdfg</td>
    </tr>
  </tbody>
</table> -->
