<div *ngIf="tagerror">
    <p class="texterror">Inserisci almeno un tag!!</p>
</div>
<div class="MainContainer">
    <!-- <div class="header">
        <div class="header__title">
            Inserimento Tag
        </div>
    </div> -->
    <div class="InputText">
        <div class="InputText__Aggiunti">
            <div class="NuoviTags" *ngIf="newtags">
                <div *ngFor="let newtag of newtags">
                    {{newtag}} &ensp;
                    <button (click)="deleteTag(newtag)">✖</button>
                </div>
            </div>
        </div>
        <div class="InputText__InputField">
            <div class="ul-container">
                <ul class="DefaultTags" *ngIf="tagAdded">
                    <li *ngFor="let tag of searchedTags" (click)="selectTag(tag); tagAdded=''">{{tag}}</li>
                </ul>
            </div>

            <input [(ngModel)]="tagAdded" (input)="search()" type="text" placeholder="Inserisci tags..."
                (keyup)="addNewTag($event)">
        </div>
    </div>
</div>