<div class="InputTextContainer">
  <div class="InputText">
    <ul *ngIf="newtags"><li *ngFor="let newtag of newtags">{{newtag}} <button (click)="deleteTag(newtag)">X</button></li> </ul>
    <input [(ngModel)]="tagAdded"
           (input)="search(tagAdded.toLowerCase())"
           type="text" placeholder="Inserisci tags..."
            (keyup)="addNewTag(tagAdded.toLowerCase(), $event);">
    <ul *ngIf="tagAdded">
      <li *ngFor="let tag of searchedTags" (click)="selectTag(tag); tagAdded=''">{{tag}}</li>

    </ul>
  </div>
</div>

