*{
  padding: 0;
  margin: 0;
}

.MainContainer {
  width: 95%;
  margin: auto;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 7px 1px #a2a2a2;

}
.header{
  margin-bottom: 0;
  padding: 5px;
  background-color: #9c27b0;
  border-radius: 8px 8px 0 0;
}
.header__title {
  color: white;
  font-weight: bold;
  text-align: center;
}
.middle-content {
  height: 50px;
  width: 100%;
  line-height: 50px;
  vertical-align: middle;
}
.Aggiunti {
  width: 100%;
  font-weight: bolder;
  padding-left:8px;
}

.InputText__InputField {
  position: relative;
}
.NuoviTags {
  display: flex;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 56px;
}

.NuoviTags > div {
  display: flex;
    padding: 3px 5px;
    margin: 3px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.NuoviTags > div > button {
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  margin-left: 10px;

}

input {
  border: none;
  border-top: 1px solid lightgrey;
  padding: 8px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.DefaultTags {
  list-style: none;
  width: 90%;
  margin: auto;
  box-shadow: 0px 2px 7px -2px #a2a2a2;
  border-radius: 0 0 10px 10px;
    overflow: hidden;
}


.DefaultTags > li {
  padding: 6px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  margin: auto;
}

.DefaultTags > li:hover {
  background-color: #f4f4f4;
  z-index: 20;
}

.ul-container {
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 1;
}
