<div class="main-content">
    <app-addtag [edit]="edit"></app-addtag>
    <app-new-question-text [edit]="edit"></app-new-question-text>
    <app-new-question-answers [edit]="edit"></app-new-question-answers>
    <div class="buttons-container">
        <button class="btn btn-danger" (click)="emptyQuestion()" routerLink="/admin">Annulla</button>
        <button *ngIf="!edit; else mod" (click)="submit(true)" class="btn btn-success">Aggiungi domanda</button>
        <ng-template #mod>
                <button (click)="submit(false)" class="btn btn-success">Modifica domanda</button>
        </ng-template>
       
    </div>
</div>
