.form-check .form-check-label .circle {
  top: 35%;
}
.form-check .form-check-sign .check {
  top: 10px;
}
.form-check .form-check-label {
  display: flex;
  width: 95%;

}
.btn-danger{
  margin-left: 40px;
  padding: 10px;
}

.btn-success {
  align-self: flex-end;
  margin-top: 16px;
}
