.form-check .form-check-label .circle {
  top: 35%;
}
.form-check .form-check-sign .check {
  top: 10px;
}
.form-check .form-check-label {
  display: flex;
  width: 95%;

}
.btn-danger{
  margin-left: 40px;
  padding: 5px 10px;
  border-radius: 50%;
}

.btn-success {
  width: 0px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  float: right;
  font-size: 20px;
  border-radius: 10px;
}
