<div>
  <select (change)="onChange($event.target.value)" class="form-control selectpicker" data-style="btn btn-link">
    <option value="radio">Risposta singola</option>
    <option value="checkbox">Risposte multiple</option>
    <option value="textarea">Risposte aperte</option>
  </select>
  <select (change)="valueDef($event.target.value)">
    <option value="alfabeto">Elenco alfabetico</option>
    <option value="numeri"> Elenco numerato</option>
  </select>
  <div *ngIf="answertype==='textarea'; else closeAnswer">
    Non sono previste risposte
  </div>
  <ng-template #closeAnswer>
    <app-new-question-answer-inputs [answer]="answertype" [value]="answervalue"></app-new-question-answer-inputs>
  </ng-template>
</div>

  <!-- <div [ngSwitch]="answertype">
    <div *ngSwitchCase="'radio'">
      <app-new-question-answer-inputs [answertype]></app-new-question-answer-inputs>
    </div>
    <div *ngSwitchCase="'checkbox'">
      <app-new-question-answer-inputs [answertype]></app-new-question-answer-inputs>
    </div>
    <div *ngSwitchCase="'textarea'">
      Non sono previste risposte
    </div>
  </div> -->