* {
    margin: 0;
    padding: 0;
}

.search-container {
    position: relative;
    width: 80%;
    margin:auto;
}

.card.table.admin{
    margin: auto;
    margin-top: 25px;
}
input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0 0 3px black;
    &:focus {
        border: 1px solid #777;
    }
}

.found-tags {
    width: 80%;
    margin: auto;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 3px -1px black;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    li {
            width: 100%;
        padding: 5px 10px;
        line-height: 35px;
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        cursor: pointer;
        &:hover {
            background-color: #f3a99d;
        }
    }
}

.searched-tags {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    list-style: none;

    li {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        background-color: #b12009;
        color: #fff;
        margin: 5px;
        &:hover {
            box-shadow: 0px 0 3px 1px #000000;
        }
        button {
            background: none;
            margin-left: 5px;
            color: #fff;
            border: none;
        }
    }
}

.btnpers {
    padding: 5px;
    margin: 0 2px;
}